.hero {
  background: linear-gradient(135deg, #ffd400 0%, #ffbb00 100%);
  padding: 24px 5%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hero-inner {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}

.hero-text h1 {
  font-size: clamp(40px, 6vw, 72px);
  font-weight: 900;
  line-height: 1;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  max-width: 500px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 500px;
}

.hero-text h1 span { color: #fff; text-shadow: 2px 2px 0px #000; }

.primary-btn{
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 16px 36px;
  border-radius: 1.5rem;
  background: #000;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  transition: 0.3s;
}

.primary-btn:hover { box-shadow: 0 10px 20px rgba(0,0,0,0.2); transform: translateY(-3px); }


.secondary-btn {
  background: #fff;
  color: #000;
  border: none;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

.secondary-btn:hover { box-shadow: 0 10px 20px rgba(0,0,0,0.2); transform: translateY(-3px); }

.hero-actions {
  margin-top: 30px;
  display: flex;
  gap: 5px;
}

.hero-image { 
    position: relative;
}

.image-blob {
  position: absolute;
  width: 110%;
  height: 110%;
  background: rgba(255, 255, 255, 0.3);
  top: -5%;
  left: -5%;
  z-index: -1;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  animation: morph 8s ease-in-out infinite;
}

.hero-image img { 
    width: 500px; 
    filter: drop-shadow(20px 20px 50px rgba(0,0,0,0.1)); 
    border-radius: 20px;
}

@keyframes morph {
  0%, 100% { border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%; }
  50% { border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%; }
}

/* Floating Icons */
.bg-icon {
  position: absolute;
  font-size: 40px;
  opacity: 0.3;
  z-index: 1;
  animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% { transform: translate(0, 0) rotate(0deg); }
  33% { transform: translate(15px, -20px) rotate(10deg); }
  66% { transform: translate(-10px, 10px) rotate(-10deg); }
}

@media (max-width: 1024px) {
  .hero-inner { flex-direction: column; text-align: center; justify-content: center; }
  .hero-actions { justify-content: center; }
  .hero-image img { width: 320px; }
  .primary-btn, .secondary-btn {
    width: 150px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
  }

  .secondary-btn{
    width: 150px;
    padding: 12px 0;
    font-size: 16px; 
    font-weight: bold;
  }
}
