.signup-form-container {
  height: 100vh;
  background: linear-gradient(135deg, #ffd400 0%, #bf8d04 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background: #ffffff;
  width: 350px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.signup-header {
  /* text-align: center; */
  margin-bottom: 1.5rem;
}

.signup-header h2 {
  font-size: 1.6rem;
  color: #333;
}

.signup-header p {
  font-size: 0.9rem;
  color: #777;
}

.input-group {
  display: flex;
  align-items: center;
  background: #f3f4f6;
  border-radius: 8px;
  padding: 0.7rem;
  margin-bottom: 1rem;
}

.input-icon {
  margin-right: 0.5rem;
  font-size: 1.1rem;
  color: #888;
  border-right: 2px solid #ccc;
  padding-right: 0.5rem;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 0.95rem;
}

.form-signup-btn {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background: #ffbb00;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #555;
}

.signup-text span {
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.terms-of-use{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.terms-of-use p{
    font-size: 12px;
}